<html>
    <head>
        <meta charset="UTF-8">
        <title>DigitalCinema</title>
        <link rel="stylesheet" href="../static/user_management_page.css">
    </head>
    <body>
        <header><b><div class="library">DigitalCinema</b><div class="topnav">

          <form action="" method="post">
            <input class="logout" type="submit" name="logout" value="Logout" class="btn"/>
          </form>
          
          <text>👤 Admin: {{ username }}</text>

          <form action="" method="post">
            <input class="back" type="submit" name= "back" value="Back" class="btn"/>
          </form>
          
          </div></header>
          
          <h1>Users</h1>
          <table >
            <tr>
              {% for header in headings_users %}
              <th>{{ header }}</th>
              {% endfor %}
            </tr>
            {% for row in users_data %}
            <tr>
              {% for cell in row %}
              
              <td>{{ cell }}</td>
              
              {% endfor %}
              
            
            {% endfor %}

          </table>
        
        <form class = "form" name="form" method="post">
          <label for="username">Insert Username</label>
          <input type="text" name="username" class="field" placeholder="Username" required>

          <input type="submit" name="delete_user" value="Delete" class="btn">

          <input type="submit" name="make_user" value="Make User" class="btn">

          <input type="submit" name="make_admin" value="Make Admin" class="btn">

          {% if message  %}

              <b >{{ message }}</b>

          {% endif %}

        </form>
        

        
        <footer>Email: DigitalCinema@gmail.com</footer>
    </body>
</html>